.App {
  /* text-align: center; */
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row {
  margin-bottom: 10px;
}

.card {
  padding: 10px;
}

.card-title {
  text-align: center;
}

#timer-card p {
  font-size: 32px;
  text-align: center;
}

input[type="radio"] {
  margin-right: 15px;
}