.App {
  /* text-align: center; */
}

.App-header {
  height: 100px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav a {
  color: white;
  padding: 0 10px;
}

nav a:hover {
  background-color: white;
  color: #4742B8;
  text-decoration: none;
}

.nav-item {
  padding: 0 10px;
}

.body {
  padding-top: 20px;
}

.row {
  margin-bottom: 10px;
}

.card {
  padding: 10px;
}

.card-title {
  text-align: center;
}

#timer-card {
  min-height: 180px;
}

#timer-card p {
  font-size: 32px;
  text-align: center;
}

#eval-card {
  min-height: 180px;
}

input[type="radio"] {
  margin-right: 15px;
}

.guess-word {
  text-align: center;
  font-size: 32px;
}

.flash-card {
  min-height: 325px;
}

.score-card {
  text-align: center;
  font-size: 28px;
  padding-top: 30px;
}

.correct {
  background-color: green;
  color: white;
  height: 150px;
  width: 600px;
  border-radius: 15px;
  padding-top: 50px;
}

.incorrect {
  background-color: red;
  color: white;
  height: 150px;
  width: 600px;
  border-radius: 15px;
  padding-top: 50px;
}

#time-up {
  position: absolute;
}
